
/* =============================
   CARROSSEL DE IMAGENS
============================= */
.carousel-inner picture,
.carousel-inner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.carousel-inner {
  max-height: 600px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  background-color: #fff;
}

/* Celular: aumenta a altura pra mostrar mais da imagem */
@media (max-width: 768px) {
  .carousel-inner picture,
  .carousel-inner img {
    height: 100vw;
    object-fit: cover;
  }

  .carousel-inner {
    max-height: none;
  }
}


/* Container da seção de contato botão do whatsapp abaixo do carossel */
.contact-section {
  text-align: center;
  margin: 3rem auto;
  max-width: 700px;
  padding: 0 1rem;
}

/* Estilo do texto */
.contact-text {
  font-size: 1.2rem;
  margin: 0;
}

/* Estilo do botão WhatsApp */
.whatsapp-button {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #23C552;
  color: white;
  padding: 0.75rem 1.875rem; /* 12px 30px */
  border-radius: 6px;
  font-size: 1.125rem; /* 18px */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Efeito hover */
.whatsapp-button:hover {
  background-color: #1ebe57;
}

