/* ---------- Seção Obrigado ---------- */
.obrigado {
  background-color: #fffaf8;
  padding: 60px 20px;
  text-align: center;
}

.obrigado h2 {
  color: #6B1B1B;
  font-size: 2rem;
  margin-bottom: 20px;
}

.obrigado p {
  font-size: 1.1rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.obrigado .btn {
  background-color: #6B1B1B;
  color: #fff;
  padding: 10px 25px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.obrigado .btn:hover {
  background-color: #a94442;
}

.container2 {
    margin-bottom: 200px;
}