/* style-contato.css */

.contato {
  padding: 60px 20px;
  background-color: #fffaf8;
  
}

.conteudo-flex {
  flex: 1;
}

.contato h2 {
  font-size: 2rem;
  color: #6B1B1B;
  font-weight: 600;
}

.contato p {
  color: #444;
  font-size: 1rem;
  line-height: 1.5;
}


.contato h5 {
  margin-top: 20px;
  color: #6B1B1B;
  font-weight: 600;
}

.contato a {
  color: #6B1B1B;
  text-decoration: none;
}

.contato a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
  .contato .row {
    flex-direction: column;
  }
}

